@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background: #000 url('images/bg.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}